
.user-details {
	.user-name {
		position: relative;
		top: 40%;
		font-size: 20px;
	}	
}
.mode-option {
	padding: 10px;
    padding-left: 17px;
    position: relative;
    top: 10px;
}

.toggle-mode {
	float: right;
}
