<ion-view view-title="Chat">
	<ion-content>
		<div  class="card"  ng-repeat="chat in chats.messages">
			<p>{{chat.from}}:&nbsp{{chat.msg}}</p>
		</div>
		<div class="row item" 
		style="position: absolute;
	    	width: 100%;
	    	bottom: 0;">
				<div class="col">
					<div class="item item-input-inset">
					    <label class="item-input-wrapper">
					    	<input type="text" style="width: 100%" placeholder="Type your message here..." ng-model="productUrlInput">
					    </label>
						<span class="glyphicon glyphicon-send" ng-click="sendMessage()"/>
					</div>
				</div>
		</div>
	</ion-content>
</ion-view>
